*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.header{
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(248, 241, 241, 0.7), rgba(0, 0, 0, 0.7));
  background-position: center;
  background-size: cover;
  position: relative;
}
nav img{
  width: 120px;
}

.nav-links{
    flex: 1;
    text-align: right;
  
  }
  
  .nav-links ul li{
    list-style: none;
    display: inline-flex;
    padding: 8px 12px;
    position: relative;
    margin-right: 100px;
  }
  
  .nav-links ul li a{
      color: #000000;
      text-decoration: none;
      font-size: 17px;
  }
  
  .nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffae00;
    display: block;
    margin: auto;
    transition: 0.2s;
  }
  
  .nav-links ul li a:hover::after{
      width: 100%;
  }

  .localizacao {
    background-color: lightgray;
  }
  .localizacao .texto {
    flex: 1;
    text-align: justify;
    max-width: calc(100% - 250px);
    margin: 0 auto;
  }

  .localizacao .texto h1 {
    margin-top: 0;
    font-size: 36px;
    font-weight: bold;
    color: #111dc9;
    text-align: center; 
    
  }
  
  .localizacao .texto p {
    margin: 10px 0;
    padding-left: 10px;
    position: relative;
    font-size: 17px;
  }
  .imagem-localizacao {
   margin-left: 50px;
  margin-top: 70px;
  float: left;
  max-width: 50%; 
  }

  /*----footer----*/
.rodape{
  clear: both;
  background-color: black;
  color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin: 0px;
}

.rodape h5{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.rodape .fa{
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 0;
}

.rodape p {
  margin: 0px;

}





  









  









